.loop-container {
	margin: 50px;
	display: inline-block;
	/* justify-content:center; */

	color: green;
	/* border:solid gray; */
}
.knafi-div {
	position: fixed;
	top: 0;
	right: 0;
	/* background-color: cyan;  */
}
.btn-klikni,.btn-brisi {
	margin: 10px;
	z-index: 1000;
	background-color: rgba(90, 63, 104, 0.8);
	color: white;
	font: 17px bolder Arial, sans-serif;
	font-weight: 900;
	letter-spacing: 0.1rem;
	border: none;
	border-radius: 15px;
	padding: 0.8rem;
	cursor: pointer;
}
.btn-klikni:hover {
	background-color: rgba(90, 63, 104, 1);
}

.btn-brisi {
	background-color: rgba(190, 33, 30, 0.8);
}
.btn-brisi:hover {
	background-color: rgba(190, 33, 30, 1);
}
